.env
logs
project/project
project/target
target
tmp
.history
/.idea
/*.iml
/out
/.idea_modules
/.classpath
/.project
/RUNNING_PID
/.settings
hk-debug
js/paint-shared/build
js/paint-shared/dist
js/paint-webapp/build
*.tsbuildinfo
/public
node_modules
